version: "3.5"

services:
  postgres:
    container_name: postgres_container_dn
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DBNAME}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5435:5432"
    restart: unless-stopped
    networks:
      - mynetwork
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DBNAME}"]
      interval: 5s
      timeout: 5s
      retries: 10

  rabbitmq:
    build:
      context: .
      dockerfile: Dockerfile.rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - mynetwork

  redis:
    container_name: redis_container_dn
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - mynetwork
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  redis-insight:
    container_name: redis_insight_dn
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    volumes:
      - redis_insight_data:/data
    restart: unless-stopped
    networks:
      - mynetwork

  notification_service:
    container_name: notification_container
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4051:4051"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DBNAME: ${POSTGRES_DBNAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ""
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      RABBITMQ_CONNECTION_NAME: delayed_notifier
      CONNECT_TIMEOUT: 10
      HEARTBEAT: 60
      PUBLISHER_EXCHANGE: delayed_notifications
      DLX_EXCHANGE: dlx_notifications
      CONSUMER_QUEUE: notifications_queue
      ROUTING_KEY: notification.send
      DLQ_ROUTING_KEY: notification.failed
      HOST: 0.0.0.0
      PORT: 4051
      host: 0.0.0.0
      port: 4051
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
    networks:
      - mynetwork

volumes:
  rabbitmq_data:
  postgres_data:
  redis_data:
  redis_insight_data:

networks:
  mynetwork:
    driver: bridge